alabaster==0.7.16
asttokens==2.4.1
Babel==2.15.0
backcall==0.2.0
certifi==2024.6.2
charset-normalizer==3.3.2
decorator==5.1.1
docutils==0.20
exceptiongroup==1.2.0
executing==2.0.1
idna==3.7
imagesize==1.4.1
importlib_metadata==7.1.0
ipython==8.25.0
jedi==0.19.1
Jinja2==3.1.4
latexcodec==3.0.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
packaging==23.2
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
pybtex==0.24.0
pybtex-docutils==1.0.3
Pygments==2.18.0
pyparsing==3.1.2
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.3.7
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-bibtex==2.6.3
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
stack-data==0.6.3
traitlets==5.14.0
typing_extensions==4.9.0
urllib3==2.2.1
wcwidth==0.2.12
zipp==3.19.2
